<!-- エラーメッセージ -->
<% if flash[:notice] %>
 	<div class="alert alert-danger alert-dismissible fade show" role="alert">
	  	<strong>エラー</strong>　入力が正しくありません！
	  	<button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
	  	<span aria-hidden="true">&times;</span>
	  	</button>
	</div>
<% end %>

<!-- プロフィールの編集-->
<div class="big-box">
	<div class="my-info-box ">
		<h3 class="new-room">プロフィール</h3>
		<div class="my-info-box">
			<%= form_for @user,:url => {:action => :update} do |f| %>
				<h5 class="info-subject">ユーザ名</h5>
				<%= f.text_field :name, placeholder:"2文字以上20文字以内", size: "60*60", class: "info-text"  %>
				<h5 class="info-subject">自己紹介</h5>
				<%= f.text_area :introduction, size: "60*60", class: "info-text"  %>
				<h5 class="info-subject">メールアドレス</h5>
				<%= f.text_field :email, size: "60*60", class: "info-text" %>
				<h5 class="info-subject">プロフィール画像</h5>
				<%= f.attachment_field :profile_image, class: "info-text-no"  %>
				<div class="my-info-botton">
					<%= f.submit 'Update User' , class: "btn btn-lg btn-block btn-outline-success" %>
				</div>
			<% end %>
		</div>
	</div>
</div>