<% @users.each do |f| %>
	<div class="row">
		<div class="user-list c-btn hover2">
			<%= link_to client_path(f.id) do%>
				<div class="users-image">
					<%= attachment_image_tag f,  :profile_image, format: 'jpeg' ,fallback: "/images/noimage.jpeg", class: "users-image" %>
				</div>
				<div class="users-info">
					<h5 class="info-box">ユーザ名</h5>
					<% if f.name.nil? == false %>
						<h5 class="my-info-s"><%= f.name %></h5>
						<% else f.name.nil? == true %>
							<h5 class="my-info-s">名無しさん</h5>
					<% end %>

					<h5 class="info-box">自己紹介</h5>
					<% if f.introduction.nil? == true %>
						<h5 class="my-info-s">宜しくお願いします</h5>
						<% elsif f.introduction.length == 0 %>
							<h5 class="my-info-s">宜しくお願いします</h5>
						<% else f.introduction.nil? == false %>
							<h5 class="my-info-s"><%= simple_format(f.introduction) %></h5>
					<% end %>

					<h5 class="info-box">コメント数</h5>
						<h5 class="my-info-s"><%= f.messages.count %>pt</h5>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
 <!-- ページネーション -->
<%= paginate @users, class: "page"  %>
 <!-- 戻るボタン -->
  <p id="pageTop"><a href="#"><i class="fas modoru fa-3x fa-arrow-circle-up"></i></a></p>
</div>
