<div class="big-box">
<div class="my-info-box">
	<h3 class="new-room">プロフィール</h3>
	<div class="my-info-box">
		<%= attachment_image_tag @user,  :profile_image, format: 'jpeg' ,fallback: "noimage.jpg" , class: "user-image" %>
		<h5 class="info-box">ユーザ名</h5>
		<h5 class="my-info"><%= @user.name %></h5>
		<h5 class="info-box">自己紹介</h5>
		<h5 class="my-info"><%= @user.introduction %></h5>
		<!-- current_userにしかメールアドレス、編集、退会ボタンを表示しないため-->
		<% if @user == current_user %>
			<h5 class="info-box">メールアドレス</h5>
			<h5 class="my-info"><%= @user.email %></h5>
			<div class="my-info-botton">
				<%= link_to"ユーザ情報編集", edit_client_path, class: "btn btn-lg btn-block btn-outline-info" %>
				<%= link_to"退会", destroy_user_session_path, method: :delete, "data-confirm" => "退会しますか？", class: "btn btn-lg btn-block btn-outline-danger"%>
			</div>
		<% end %>
	</div>
</div>

