<div>
  <!-- ransack 検索 -->
  <div class="ransack-box">
  	<%= search_form_for @q do |f| %>
      <%= f.search_field :title_or_detail_cont, size: "25px", placeholder: "\uf002", class: 'fa seach-bar' %>
      <div class="ransack-btn">
        <%= f.submit "検索", class:"btn btn-outline-primary rounded-pill" %>
      </div>
    <% end %>
  </div>

  <!-- ransack ソート -->
  <div class="box29">
    <div class="box-title">
      <p class="box-title2">並び順</p>
      <%= sort_link(@q, :title, "・タイトル") %>
      <%= sort_link(@q, :category, "・カテゴリ") %>
      <%= sort_link(@q, :created_at, '・ルーム作成日') %>
  </div>

  <!-- チャットルーム一覧 -->
  <div class="box-title3">
    <% @rooms.each do |room| %>
      <div class="room-box">
        <%= link_to room_path(room) do %>
          <p>ルーム：<%= room.title %></p>
          <p>内容：<%= room.detail %></p>
          <p>カテゴリ：<%= room.category %></p>
          <p>コメント数：<%= room.messages.count %>pt</p>
          <p style="float: left;">作成日：<%= room.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <p style="text-align:right"><%= time_ago_in_words(room.created_at) %>前</p>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

  <!-- 戻るボタン -->
  <p id="pageTop"><a href="#"><i class="fas modoru fa-3x fa-arrow-circle-up"></i></a></p>
</div>
