<!-- エラーメッセージ -->
<% if flash[:notice] %>
 	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  	<strong>エラー</strong>　入力が正しくありません！
	  	<button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
	  	<span aria-hidden="true">&times;</span>
	  	</button>
	</div>
<% end %>

<!-- ルーム作成-->
<div class="big-box">
	<h3 class="new-room">ルーム作成</h3>
	<div class="my-info-box ">
		<%= form_for(@room) do |f| %>
		  	<h5 class="info-box">タイトル</h5>
		  	<%= f.text_field :title , class: "info-text-3", placeholder: '2文字以上' %>
		  	<h5 class="info-box">説明文</h5>
		  	<%= f.text_area :detail  , class: "info-text-2 content", placeholder: '200文字以内' %>
        <p class="count "></p><!-- 文字のカウント -->
		  	<h5>カテゴリ<%= f.select :category, Room.categories.keys.to_a, {}, class: "category-box" %></h5>
		 	<div class="my-info-botton">
		  		<%= f.submit "Room作成", class: "btn btn-lg btn-block btn-outline-primary last-btn" %>
			</div>
		<% end %>
	</div>
</div>
