<%= form_for(@room) do |f| %>
  	<h4>Title</h4>
  	<%= f.text_field :title , class: "room-info" ,size: "50*10" %>
  	<h4>Opinion</h4>
  	<%= f.text_area :detail  , class: "room-info"  , size: "50*10" %>
  	<h4>ステータス</h4>
	<%= f.select :category, Room.categories.keys.to_a, {} %>
 	<div>
  		<%= f.submit "Room作成", class: "btn btn-outline-primary" %>
	</div>
<% end %>