<div class="room-show">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="aaa">
					<h5 class="room-title">ルーム名</h5>
					<p class="room-info"><%= @room.title %></p>
					<h5 class="room-title">内容</h5>
					<p class="room-info"><%= @room.detail %></p>
				</div>
			</div>
			<div class="col-9">
				<div class="message-box">
					<div class="chat_box">
					<div id="messages", data-room_id="<%= @room.id %>"></div>
				    	<%= render @messages %>
				  	</div>
					<%= text_field nil, nil, 'data-behavior': 'room_speaker', placeholder: "\uf1d8", class: 'fa message-btn' %>
				</div>
			</div>
		</div>
	</div>
</div>