<h3><%= @room.title %></h3>
<h5><%= @room.detail %></h5>
<div id="messages">
  <%= render @messages %>
</div>

<%= label nil, nil, 'Say something:' %>
<%= text_field nil, nil, 'data-behavior': 'room_speaker' %>