<!DOCTYPE html>
<html>
  <head>
    <title>Let me fill the gaq in your soul.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container-fluid">
      <div class="row  h-100">
        <% if current_user.try(:admin?) %>
          <h1 class="header-bar">Let me fill the gap in your soul.</h1>
          <div class="header-itembox col-2">
            <div class="header-items"><%= current_user.name %>さん(管理者)</div>
            <li class="header-items"><%= link_to "管理", rails_admin_path %></li>
            <li class="header-items"><%= link_to "マイページ", client_path(current_user.id) %></li>
            <li class="header-items"><%= link_to "チャットルーム一覧", rooms_path %></li>
            <li class="header-items"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </div>
          <div class="col-10"><%= yield %></div>

        <% elsif current_user %>
          <h1 class="header-bar">Let me fill the gap in your soul.</h1>
          <div class="header-itembox col-2">
            <div><span class="name"><%= current_user.name %></span>さん</div>
            <p class="header-items"><i class="fas fa-2x fa-address-card "></i><%= link_to "マイページ", client_path(current_user.id) %></p>
            <p class="header-items"><i class="fas fa-2x fa-comments"></i><%= link_to "チャットルーム一覧", rooms_path %></p>
            <p class="header-items"><i class="fas fa-2x fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
            <p class="header-items"><i class="fas fa-2x fa-folder-plus"></i><%= link_to 'NEW ROOM', new_room_path %></p>
          </div>
          <div class="col-10"><%= yield %></div>

          <% else %>
          <%= yield %>
        <% end %>
      </div>
    </header>

    <% if current_user.try(:admin?) %>
      <footer>
      </footer>
    <% elsif current_user %>
      <footer>
      </footer>
    <% else %>
    <% end %>
  </body>
</html>
