<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Let me fill the gap in your soul.</h2>
    <% if current_user.try(:admin?) %>
      <li>
        <%= link_to "マイページ", client_path(current_user.id) %>
      </li>
    <% elsif current_user %>
      <li>
        <%= link_to "マイページ", client_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "チャットルーム一覧", rooms_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
    <% end %>
    <%= yield %>
  </body>
</html>
